.contact {
    background-color: #414288;
    height: 30vh;
    padding: 20px;
    width: 100vw;
}

.contact_form {
    display: flex; 
    flex-direction: column; 
    width: 30vw; 
    margin: 0 auto; 
    justify-content: center; 
    align-items: center; 
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 5px 5px #000; 
    padding: 0 0 10px 0;
    background-color: #fff;
}

.home {
    background-color: #deefb7;
    height: 40vh;
    padding: 30px;
    width: 100vw;
}

.mission {
    background-color: #fff;
    width: 30%;
    height: 50%;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 5px 5px #000; 
}

header {
    height: 50px;
}

nav {
    display: inline;
}

nav ul {
    list-style: none;
    float: right;
}

nav a {
    text-decoration: none;
    color: #000;
}

nav li.active {
    color: #682d63;
    font-size: 20px;
}

nav ul li {
    display: inline;
    padding: 0 10px;
}

.button {
    background-color: #682d63;
    color: #fff;
    border: 2px solid #000;
    border-radius: 3px;
    box-shadow: 5px 5px #000;
    margin: 10px;
}

.tech {
    background-color: #98dfaf;
    width: 100vw;
    height: auto;
    text-align: center;
    padding: 10px;
    text-align: center;
}